h4 {
    color: white;
    margin-left: 0.5em;
}

.search-bar {
    background-color: whitesmoke;
    margin-top: 1.5em;
    margin-bottom: 2em;
    padding: 0.4em;
    border-radius: 4px; 
    margin-left: 0.5em;
}

.budget {
    color: whitesmoke;
    position: absolute;
    right: 10px;
    display: inline-block;
    margin-top: 1.5em;
}

.card-container {
    display: inline-block;
    position: relative;
}

.rent-movie-btn {
    position:absolute;
    top: 0;
    right: 0;
}

.movie-img {
    height: 10em;
    width: 10em;
}