#main-links > a {
  margin: 10px;
  color: #c11b05;
  text-shadow: -1px -1px 0 #ecf0f1, 1px -1px 0 #ecf0f1, -1px 1px 0 #ecf0f1, 1px 1px 0 #ecf0f1;
  font-size: 1.2em;
}

* {
  text-decoration: none;
  font-family: impact;
  background-color: black;
}

a {
  cursor: pointer;
  color: 'black';
}

#logo {
  color: rgb(51, 143, 185);
  font-size: 1.2em;
  text-shadow: -1px -1px 0 #ecf0f1, 1px -1px 0 #ecf0f1, -1px 1px 0 #ecf0f1, 1px 1px 0 #ecf0f1;
  position: absolute;
  right: 0.5rem;
  top: 0.5rem;
}
